body
{
    padding: 0;
    margin: 0;
    background: #E5E5E5;
    z-index: 0;
    overflow-x: hidden;
}

.hamburger
{
    z-index: 3;
    margin-left: 5px;
}

.close
{
    display: none;
}

.menu
{
    display: none;
}

.header
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    height: 70px;
    background: #363956;
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.header h1
{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

.header .avatar {
    background: white;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border-radius: 50%;
}

.tasks-container
{
    margin: 2vw;
    width: 96vw;
}

.task
{
    margin-top: 5px;
    float: left;
    width: 100%;
    min-width: 400px;
    height: 75px;
    background: white;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
}

.task #header
{
    background-color: #2B2E45;
    width: 75px;
    height: 100%;
    float: left;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

input
{
    top: 0;
    left: 0;
    margin-right: 6px;
    height: 35px;
    width: 35px;
    background-color: #eee;
}

.task #textholder
{
    float: left;
    margin-left: 15px;
    height: 100px;
    width: 50%;
    min-width: 200px;
}

.task #divider-gradient
{
    height: 100%;
    width: 4px;
    float: left;
    background: linear-gradient(#FFB359, #56B5FB);
}

.task #task-title
{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
}

.task #task-info
{
    font-family: "Roboto", sans-serif;   
    font-weight: 300;
    font-size: 12px;
    display: flex;
}

.task #date-holder
{
    background: white;
    width: 100px;
    height: 100%;
    float: right;
    position: relative;
}

.task #date-holder a
{
    font-family: "Roboto", sans-serif;   
    font-size: 14px;
    color: #363956;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    position: absolute;              
    top: 50%;              
    transform: translate(0, -50%) 
}

.overlay
{
    height: 75px;
    width: 100%;
    background: rgb(0,0,0,0.25);
}

.container
{
    margin-top: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-task a
{
    text-align: center;
    background: #2B2E45;
    padding: 15px 15px;
    color: white;
    width: 10vw;
    max-width: 100px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.search-task input
{
    width: 65vw;
    min-width: 300px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #79797C;
    border-radius: 5px;
}

.sort-task input
{
    width: 10vw;
    min-width: 40px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #79797C;
    border-radius: 5px;
}