body
{ 
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.bar
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    height: 70px;
    background: #363956;
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.bar h1
{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px 0px;
    margin-left: 250px;
    text-align: center;
}

.bar .avatar {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

a
{
    text-decoration: none;
}
.menu
{
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    background: #2B2E45;
    width: 325px;
    height: 100vh;
    overflow-x: hidden;
    filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
}

.main-menu
{
    top: 0;
    left: 0;
    float: left;
    width: 75px;
    background: #24263A;
    height: 100%;
    box-shadow: inset -4px 0px 16px rgba(0, 0, 0, 0.25);
}

.main-menu-btn h1
{
    display: none;
}

.option-dropdown-menu
{
    display: none;
}

.category-dropdown
{
    display: none;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li
{
    padding: 10px;
    background: #363956;
    box-shadow: inset 2px 0px 4px rgba(0, 0, 0, 0.25);
}

li a
{
    color: white;;
    text-decoration: none;
}

#active-btn
{
    background: #FF9B26;
    box-shadow: inset 2px 0px 4px rgba(0, 0, 0, 0.25);
}

.main-menu img
{
    width: 75px;
    height: 75px;
}

.main-menu #active
{
    background: #2B2E45;
}

#active-option
{
    display: block;
    position: absolute;
    top: 0;
    left: 75px;
    width: 250px; 
}

.header
{
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    background: #282A3F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mn-btn:hover
{
    background: #2B2E45;
}

li:hover{background: #2B2E45;}

.main-menu #close
{
    display: none;
}

.hamburger
{
    cursor: pointer;
    border: none;
    background: #363956;
    padding: 15px 25px;
}

.task-options
{
    position: absolute;
    left: 340px;
    top: 100px;
    width: 75%;
    height: 50px;
}

.task-options #add-task
{
    background: #2B2E45;
    padding: 15px 15px;
    color: white;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer;
    text-decoration: none;
}

.task-options #add-task:hover
{
    background: #303452;
    box-shadow: 2px 0px 16px rgb(0,0,0,0.25);
}


.tasks-container
{
    position: absolute;
    top: 150px;
    left: 340px;
    width: 60vw;
    height: 90%;
}

.task
{
    display: flex;
    justify-content: space-between;    
    margin-top: 5px;
    float: left;
    width: 100%;
    min-width: 400px;
    height: 75px;
    background: white;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
}

.task .header
{
    padding: 0;
    width: 79px;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.task #checkbox-box
{
    background-color: #2B2E45;
    width: 75px;
    height: 100%;
    float: left;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.task #priority
{
    width: 75px;
    height: 100%;
    float: left;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

input
{
    top: 0;
    left: 0;
    margin-right: 6px;
    height: 35px;
    width: 35px;
    background-color: #eee;
}

.task .task-content
{
    width: 75%;
    height: 75px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-grow: 1; 
}


.task #textholder
{
    margin-left: 15px;
    height: 75px;
    width: 70%;
    min-width: 100px;
}

.task #divider-gradient
{
    height: 100%;
    width: 4px;
    float: left;
    background: linear-gradient(#FFB359, #56B5FB);
}

.task #task-title
{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
}

.task #task-info
{
    font-family: "Roboto", sans-serif;   
    font-weight: 300;
    font-size: 12px;
    display: flex;
}

.task #date-holder
{
    top: 0;
    width: 100px;
    height: 75px;
    position: relative;
}

.task #date-holder a
{
    font-family: "Roboto", sans-serif;   
    font-size: 14px;
    color: #363956;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    position: absolute;              
    top: 50%;              
    transform: translate(0, -50%) 
}

.overlay
{
    height: 75px;
    width: 100%;
    background: rgb(0,0,0,0.25);
}


.container
{
    margin-top: 85px;
    width: 60vw;
    min-width: 400px;
    margin-left: 330px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-task a
{
    text-align: center;
    background: #2B2E45;
    padding: 15px 15px;
    color: white;
    width: 10vw;
    max-width: 100px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.search-task input
{
    width: 40vw;
    min-width: 75px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #79797C;
    border-radius: 5px;
}

.sort-task input
{
    width: 5vw;
    min-width: 40px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #79797C;
    border-radius: 5px;
}

@media (min-width: 900px) and (max-width: 959px)
{
    .add-task a
    {
        padding: 10px 5px;
        margin-left: 5px;
    }
}


@media (max-width: 900px)
{

    .hamburger
    {
        display: block;
        border: none;
    }
    
    .bar
    {
        z-index: 10;
    }
    
    #home
    {
        display: none;
    }
    
    .menu
    {
        top: 70px;
        width: 100vw;
        overflow-x: hidden;
        display: none;
    }
    .main-menu
    {
        width: 100%;
    }
    
    .mn-btn
    {
        display: flex;
    }
    
    .main-menu-btn h1
    {
        display: block;
        color: white;
        font-size: 24px;
        padding: 10px;
        font-weight: normal;
    }
    #active-option .header
    {
        display: none;
    }
    #active-option
    {
        display: block;
        position: static;
        width: 100%; 
    }
    
    .bar h1
    {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        margin: 0;
        color: white;
        text-align: center;
    }

    .bar .avatar {
        background: white;
        width: 45px;
        height: 45px;
        margin-right: 5px;
        border-radius: 50%;
    }
    
    .tasks-container
    {
        margin: 2vw;
        width: 92vw;
        left: 0;
    }

    .task
    {
        margin-top: 5px;
        float: left;
        width: 100%;
        min-width: 400px;
        height: 75px;
        background: white;
        box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
    }

    .task #checkbox-box
    {
        background-color: #2B2E45;
        width: 75px;
        height: 100%;
        float: left;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    input
    {
        top: 0;
        left: 0;
        margin-right: 6px;
        height: 35px;
        width: 35px;
        background-color: #eee;
    }
    

    .task #textholder
    {
        margin-left: 15px;
        height: 100px;
        width: 60%;
        min-width: 100px;
    }

    .task #divider-gradient
    {
        height: 100%;
        width: 4px;
        float: left;
        background: linear-gradient(#FFB359, #56B5FB);
    }

    .task #task-title
    {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        display: flex;
    }

    .task #task-info
    {
        font-family: "Roboto", sans-serif;   
        font-weight: 300;
        font-size: 12px;
        display: flex;
    }

    .task #date-holder
    {
        background: white;
        width: 100px;
        height: 100%;
        position: relative;
    }

    .task #date-holder a
    {
        font-family: "Roboto", sans-serif;   
        font-size: 14px;
        color: #363956;
        text-decoration: none;
        font-weight: bold;
        margin: 0;
        padding: 20px;
        position: absolute;              
        top: 50%;              
        transform: translate(0, -50%) 
    }

    .overlay
    {
        position: absolute;
        width: 70%;
        top: 0;
        left: 75px;
        z-index: 20;
        height: 75px;
        background: rgb(0,0,0,0.25);
    }

    .container
    {
        margin: 0;
        width: 95vw;
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .add-task a
    {
        text-align: center;
        background: #2B2E45;
        padding: 15px 15px;
        color: white;
        width: 10vw;
        max-width: 100px;
        border-radius: 8px;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        display: flex;
        cursor: pointer;
        text-decoration: none;
    }

    .search-task input
    {
        width: 65vw;
        min-width: 300px;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #79797C;
        border-radius: 5px;
    }

    .sort-task input
    {
        width: 10vw;
        min-width: 40px;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #79797C;
        border-radius: 5px;
    }
}

@media (max-width: 600px)
{
    .task #task-title
    {
        font-size: 16px;
    }
    
    .task #task-info
    {
        font-size: 10px;
    }
    
    .overlay
    {
        width: 65%;
    }
    
    .task #date-holder a
    {
        font-size: 10px;
    }
}