html {scroll-behavior: smooth;}

.body {
    padding: 0;
    margin: 0;
}

.um-sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    background: #222433;
    box-shadow: 4px 0 4px rgba(0,0,0,0.2);
}

#um-logo {
    width: 150px;
    margin: 15px 50px;
}

.um-content {
    margin-left: 250px;
    overflow-x: hidden;
}

.section {
    min-height: 100vh;
    width: calc(100vw - 255px);
    padding: 50px 5%;
    transition: 2s all ease;
}

h2 {
    margin: 25px 0;
}

.um-sidebar ul {
    list-style: none;
    padding: 10px 0;
}

.um-sidebar  li{ padding: 10px;}
.um-sidebar  li:hover {background: orange;}
.um-sidebar  li a {display: block; width: 100%; color: #eee;}
.um-sidebar li a:hover {color: #fff; }

.contents {
    color: #aaa;
    padding: 40px;
}

.big-scr {
    width: 90%;
    margin: 50px 5%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.small-scr {
    width: 40%;
    margin: 50px 30%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}