html {scroll-behavior: smooth;}

.body {
    padding: 0;
    margin: 0;
}

.um-sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    background: #222433;
    box-shadow: 4px 0 4px rgba(0,0,0,0.2);
}

#um-logo {
    width: 150px;
    margin: 15px 50px;
}

.um-content {
    margin-left: 250px;
}

.section {
    min-height: 100vh;
    padding: 50px;
    transition: 2s all ease;
}

.um-sidebar ul {
    list-style: none;
    padding: 10px 0;
}

.um-sidebar  li{ padding: 10px;}
.um-sidebar  li:hover {background: orange;}
.um-sidebar  li a {display: block; width: 100%; color: #eee;}
.um-sidebar li a:hover {color: #fff; }

ol {
    color: #aaa;
}