{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/vtodo-css.css' %}"/>

<div class="edit-form" id="center-content">
<form method="POST" action="">
    {% csrf_token %}
    <div class="popup-header" id="center"><h1>Usunąć wydarzenie "{{item}}"? </h1></div>
    <div class="color-bar"><div class="blue-bar"></div><div class="orange-bar"> </div></div>
<div class="delet">
    <input id="save-changes" type="submit" name="Confirm">
    <a id="cancel" href="{% url 'date' %}">Anuluj</a>
    </div>
</form>
</div>
