{% load static %}
<html>
<head>
    <title>vToDo - zadania</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vtodo-css.css' %}"/>
</head>
<body>
    <div class="bar">
        <button class="hamburger" onclick="openMenu()"><img src="{% static 'image/icons/hamburger.svg' %}"></button>
        <img class="avatar" src="{% static 'image/avatar-test.png' %}" alt="avatar">
    </div>
    <div class="menu" id="menu-active"> 
        <div class="main-menu">
            <div class="main-menu-btn" id="home">
                <a href="{% url 'vtodo' %}"><div class="mn-btn"><img src="{% static 'image/icons/home-icon.svg' %}" alt="STRONA GŁÓWNA"></div></a>
            </div>
            <div class="main-menu-btn">
                <a href="{% url 'date' %}"><div class="mn-btn"><img src="{% static 'image/icons/calendar-icon.svg' %}" alt="KALENDARZ"><h1>KALENDARZ</h1></div></a>
                <ul class="option-dropdown-menu">
                    <li class="header">KALENDARZ</li>
                    <li class="option-dropdown">
                        <div class="mini-calendar-module"><span>Mini Kalendarz</span></div>
                    </li>
                    <li class="option-dropdown"><span><img width="25px" src="{% static 'image/avatar-test.png' %}"> Połącz z Kalendarzem Google</span></li>
                </ul>
            </div>
            <div class="main-menu-btn">
                <a href="{% url 'list' %}"><div class="mn-btn"><img src="{% static 'image/icons/todolist-icon.svg' %}" alt="LISTA ZADAŃ"><h1>LISTA ZADAŃ</h1></div></a>

                <ul class="option-dropdown-menu">
                    <li class="header">LISTA TO-DO</li>
                    <li class="option-dropdown" id="active-btn"><a href=#>Wszystkie</a></li>
                    <li class="option-dropdown"><a href=#>Lokalizacje</a>
                        <ul class="category-dropdown">
                            <li class="cat-drop-btn"><a href=#>MS TEAMS</a></li>
                        </ul>
                    </li>
                    <li class="option-dropdown"><a>Postęp</a>
                        <ul class="category-dropdown">
                            <li class="cat-drop-btn"><a>Do zrobienia</a></li>
                            <li class="cat-drop-btn"><a>W trakcie</a></li>
                            <li class="cat-drop-btn"><a>Zrobione</a></li>
                        </ul>
                    </li>
                    <li class="option-dropdown"><a>Dodaj kategorię</a></li>
                </ul>
            </div>
            <div class="main-menu-btn">
                <a href=#><div class="mn-btn"><img src="{% static 'image/icons/settings-icon.svg' %}" alt="USTAWIENIA"><h1>USTAWIENIA</h1></div></a>
                <ul class="option-dropdown-menu">
                    <li class="header">USTAWIENIA</li>
                    <li class="option-dropdown"><span>Profil</span></li>
                    <li class="option-dropdown"><span>Zmiana hasła</span></li>
                    <li class="option-dropdown"><span>Język i region</span></li>
                    <li class="option-dropdown"><span>Inne</span>
                        <ul class="category-dropdown">
                            <li class="cat-drop-btn"><span>Dunno</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <script>
            
        window.onresize = function(){
            var x = document.getElementById("menu-active");
            
            if(window.innerWidth >= 900) x.style.display='';
        }
            

        function openMenu() {
          var x = document.getElementById("menu-active");
          if (x.style.display == "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";  
          }
        }

        </script>
		<div class="fullpage">
		<div class="menu-placeholder" id="small"></div>
		<div class="temp-container">
			<form class="edit-form" id="form-wth-img" method="POST" action="">
				<div class="popup-header">
					<div><a class="btn btn-sm btn-return" href="{% url 'date' %}"><img src="{% static 'image/icons/back-arrow.svg' %}" alt="Wróć"/></a></div>
					<div><h1>EDYTUJ WYDARZENIE</h1></div>
					<div><a class="btn btn-sm btn-danger" href="{% url 'delete_meeting' id %}"><img src="{% static 'image/icons/delete-icon.svg' %}" alt="Usuń"/></a></div>
				</div>
				<div class="color-bar"><div class="blue-bar"></div><div class="orange-bar"> </div></div>
						<form method="POST" action="">
							<div class="popup-data">
							{% csrf_token %}
							<div class="data">
								<div class="form-label">Tytuł:</div><div class="input"><div class="fake-icon"></div>{{form.title}}</div>
								<div class="form-label">Opis: </div><div class="input"><img src="{% static 'image/icons/add-description.svg'%}"> {{form.description}}</div>
								<div class="form-label">Data rozpoczęcia:</div><div class="input"><img src="{% static 'image/icons/add-date.svg'%}">{{form.date_start}}</div>
								<div class="form-label">Czas rozpoczęcia:</div><div class="input"><img src="{% static 'image/icons/add-time.svg'%}">{{form.time_start}}</div>
								<div class="form-label">Data zakończenia:</div><div class="input"><img src="{% static 'image/icons/add-date.svg'%}">{{form.date_end}}</div>
								<div class="form-label">Czas zakończenia:</div><div class="input"><img src="{% static 'image/icons/add-time.svg'%}">{{form.time_end}}</div>
							</div>
							<div class="btn-cnt"><input id="save-changes" type="submit" name="Update Meeting"></div>
							</div>
			</form>
            </form>
			</div>
			<div>