{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load poll_extras %}
{%load static%}
{% load avatar_tags %}
{% block content %}

    <div class="wrapper">
        <nav id="sidebar" class="small">
            <nav class="sidebar main">
                <div class="sidebar-btn"><img alt="home" src="{%static 'image/icons/home-icon.svg' %}"></div>
                <a href="{% url 'date' %}"><div alt="calendar"  class="sidebar-btn active"><img src="{%static 'image/icons/calendar-icon.svg' %}"></div></a>
                <a href="{% url 'list' %}"><div alt="todolist" class="sidebar-btn"><img src="{%static 'image/icons/todolist-icon.svg' %}"></div></a>
                <div class="sidebar-btn"><img alt="settings" src="{%static 'image/icons/settings-icon.svg' %}"></div>
            </nav>
        </nav>

        <div id="content-sml">
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                </div>
            </div>


                <nav class="navbar">

                    <div class="left">
                        <input type="button" class="borderless close" value="X" style="position: absolute; top: 20px; left: 25px;" onclick="history.back()">
                    </div>

                    <div class="right">
                        <form method="POST" action="">
                            <button id="delete-event" data-form-url="{% url 'delete_meeting' id %}" class="button delete delete-event" type="button" name="button">Usuń spotkanie</button>
                        </form>
                        <div class="avatar"><a href="{% url 'profile' %}">{% avatar user %}</a></div>

                    </div>
                </nav>
                <hr>

                <div class="panel-container">
                    <div class="panel">
                        <form method="POST" action="">
                            {% csrf_token %}
                                        {{form.media}}
                        <div class="navbar"><h2>Edytuj spotkanie:</h2></div>
                        <hr class="hr">
                        <div class="modal-body">
                            {% for field in form %}
                                {%  if field.name == 'color' %}
                                <label>{{field.label}}</label>
                                <div class="center" style="justify-content: space-evenly; margin-bottom: 25px;">

                                    {% for radio in field %}

                                    <div class="radiocontainer">
                                        {{radio.tag}}
                                        <span class="{{radio.choice_label}} radiobutton" ></span>
                                        <span class="mark"></span>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="form-group{% if field.errors %} invalid{% endif %}">
                                    {{ field | as_crispy_field }}
                                    {% for error in field.errors %}
                                      <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                              <div class="modal-footer">
                        <button class="borderless inverse" onclick="history.back()">Anuluj</button>
                        <button class="button add" type="submit" name="Update Meeting">Zapisz zmiany</button>
                              </div>

            </form>
                    </div>

                    <div class="panel-container inside" style="flex-direction: column; width: 50%;padding: 1% 0;">
                    <div class="panel" id="top">
                        <div class="navbar"><h2>Menedżer zadań</h2><h2 style="color:#F2994A;">{{count}}</h2></div>
                        <hr class="hr">
                        <button id="connect-task" class="button add" style="width: 50%; align-self: center; margin-bottom: 15px;" data-toggle="modal" data-form-url="{% url 'connect_task' meeting.pk %}"> DODAJ ZADANIA</button>
                        <div class="task-panel-modal">
                        {% for task in tasks %}
                            {% if task.meeting == meeting %}
                                <div class="task" style="width: 98%; margin: 1%;">
                                <div class="task-content" style="margin-left: 15px;">
                                    <h1><b>{{task}}</b></h1><div class="task-info"><p id="date">
                                    {% if task|to_datetime|is_expired and not task.complete %}
                                        <p class="warning"><b>Spóźnienie</b></p>
                                    {% elif task.complete %}
                                        <p><b>Zakończone</b></p>
                                    {% else %}
                                        {{task |to_datetime |timeuntil}}
                                    {% endif %}
                                    </p><p>∙</p><p>{{task.localization}}</p><p>∙</p><p>{{task.with_who}}</p></div>
                                </div>
                                <div class="important-tag">
                                    {% if task.priority == "H" %}
                                        <img src="{%static 'image/icons/fire_H.svg'%}" width="25" height="25">
                                    {% elif task.priority == "J" %}
                                        <img src="{%static 'image/icons/fire_M.svg'%}" width="20" height="20">
                                    {% elif task.priority == "L" %}
                                        <img src="{%static 'image/icons/fire_L.svg'%}" width="15" height="15">
                                    {% else %}
                                    <div style="width: 15px; height: 15px;"></div>
                                    {% endif %}
                                </div>
                    </div>
                            {% endif %}
                        {% endfor %}
                            </div>

                    </div>
                    <div class="panel" id="bottom">
                        <div class="navbar"><h2>Notatki</h2></div>
                        <hr class="hr"><button id="add-note" class="button add" style="width: 50%; align-self: center; margin-bottom: 15px;" data-toggle="modal" data-form-url="{% url 'add_note' meeting.pk %}">DODAJ NOTATKĘ</button>

                        <div class="task-panel-modal" id="notes">
                            {% for note in notes%}
                                {% if note.meeting == meeting %}
                            <a class="edit_note"  data-toggle="modal" data-form-url="{% url 'edit_note' note.pk %}"><div class="note">{{note.text}}</div></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            <!--</form>-->


        </div>
    </div>

        <script type="text/javascript">
        $(document).ready(function() {

            $(".delete-event").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });

            $("#connect-task").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url")});
            });

            $("#add-note").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url")});
            });

            $(".edit_note").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url")});
            });

        });
        </script>
    <script type="text/javascript">
        function validate() {
            var start = $('#id_date_start').data("DateTimePicker");
            var end = $('#id_date_end').data("DateTimePicker");
            var tstart = $('#id_time_start').data("DateTimePicker");
            var tend = $('#id_time_end').data("DateTimePicker");

            var time = "23:59";
            var maxTime = moment(time, 'HH:mm');
            console.log(maxTime);

            end.minDate(start.date());

            if(end.date().isBefore(start.date())) {
                end.date(start.date());
            }

            if(end.date().isSame(start.date())) {
                if(tend.date().isBefore(tstart.date())) {
                    tend.date(tstart.date());
                }
                if(tend.date().isAfter(maxTime)) {
                    tend.date('23:59');
                }
            }
}

        $(document).ready(function() {
            $("#id_date_start").on("dp.change", function (e) {
                validate();
                });

            $("#id_time_start").on("dp.change", function (e) {
               validate();
               });

            $("#id_date_end").on("dp.change", function (e) {
               validate();
               });

            $("#id_time_end").on("dp.change", function (e) {
               validate();
               });
        });
    </script>

        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

{% endblock %}

