{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% load avatar_tags %}

{% block headcontent %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<title>Kalendarz - vToDo</title>
{% endblock %}

{% block content %}


<div class="wrapper">
    <nav id="sidebar" class="small">
        <nav class="sidebar main">
            <a href="{% url 'vtodo' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/home-icon.svg' %}"></div></a>
            <a href="{% url 'date' %}"><div class="sidebar-btn active"><img src="{%static 'image/icons/calendar-icon.svg' %}"></div></a>
            <a href="{% url 'list' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/todolist-icon.svg' %}"></div></a>
            <a href="{% url 'location' %}"><div class="sidebar-btn"><img id="map" src="{%static 'image/icons/map.svg' %}"></div></a>
            <a href="{% url 'user_manual' %}"><div class="sidebar-btn help"><img src="{%static 'image/icons/help.svg' %}"></div></a>
        </nav>
    </nav>
        <nav class="sidebar menu">
            <div class="header"><img src="{%static 'image/icons/todolist-dark.svg' %}"><h1>KALENDARZ</h1></div>
                <div class="calendar-module">
                    <div class="calendar-header">
                        <div class="prev"><a href="{% url 'month' prev_month.0 prev_month.1 prev_month.2 %}"> < </a></div>
                        <div class="month-label"><p>{{month_name}} {{year}}</p></div>
                        <div class="next"><a href="{% url 'month' next_month.0 next_month.1 next_month.2 %}"> > </a></div>
                    </div>

                <table class="labels">
                    <tr class="week-label">
                        <th class="mon"><p>Pon</p></th>
                        <th class="tue"><p>Wt</p></th>
                        <th class="wed"><p>Śr</p></th>
                        <th class="thu"><p>Czw</p></th>
                        <th class="fri"><p>Pt</p></th>
                        <th class="sat"><p>Sob</p></th>
                        <th class="sun"><p>Nd</p></th>
                    </tr>
                </table>

                <table class="month">
                    {% for d, classes in days %}
                        {% if d.0 == 0 %}
                            <td class="noday"></td>
                        {% else %}
                            <td class="{{ classes }}"><a href="{% url 'month' year month d.0 %}">{{d.0}}<div class="pointer"></div></a></td>
                        {% endif %}
                        {% if d.1 == 6 %}<tr>{% endif %}
                    {% endfor %}
                                </table>
                            </div>
                           <button class="option-dropdown button menu-buttons" id="importCalendar"><img src="{% static 'image/icons/google-icon.svg' %}"><a>Zsynchronizuj z kalendarzem Google</a></button>
        </nav>
    </nav>

    <nav id="mobile-sidebar">
        <div class="scroll">
            <div class="sidebar-header">
                <h3>vTo-Do</h3>
                <div id="dismiss"><p>X</p></div>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{% url 'vtodo' %}"><img src="{%static 'image/icons/mobile/home-icon-black.svg' %}"> Strona Główna</a>
                </li>
                <li class="active">
                    <a><img src="{%static 'image/icons/mobile/cal-icon-black.svg' %}"> Kalendarz</a>
                                </li>
                            <div class="calendar-module">
                                <div class="calendar-header">
                                    <div class="prev"><a href="{% url 'month' prev_month.0 prev_month.1 prev_month.2 %}"> < </a></div>
                                    <div class="month-label"><p>{{month_name}} {{year}}</p></div>
                                    <div class="next"><a href="{% url 'month' next_month.0 next_month.1 next_month.2 %}"> > </a></div>
                                </div>
                                <table class="labels">
                                    <tr class="week-label">
                                        <th class="mon"><p>Pon</p></th>
                                        <th class="tue"><p>Wt</p></th>
                                        <th class="wed"><p>Śr</p></th>
                                        <th class="thu"><p>Czw</p></th>
                                        <th class="fri"><p>Pt</p></th>
                                        <th class="sat"><p>Sob</p></th>
                                        <th class="sun"><p>Nd</p></th></tr>
                                </table>
                                <table class="month">
                                {% for d, classes in days %}
                                    {% if d.0 == 0 %}
                                        <td class="noday"></td>
                                    {% else %}
                                        <td class="{{ classes }}"><a href="{% url 'month' year month d.0 %}">{{d.0}}<div class="pointer"></div></a></td>
                                    {% endif %}
                                    {% if d.1 == 6 %}<tr>{% endif %}
                                {% endfor %}
                                </table>
                            </div>

                <li>
                    <a href="{% url 'list' %}"><img src="{%static 'image/icons/mobile/list-icon-black.svg' %}"> Lista zadań</a>
                <li>
                    <a href="{% url 'location' %}"><img src="{%static 'image/icons/mobile/map-icon-black.svg' %}"> Mapa</a>
                </li>
                <li><a href="#"><img src="{%static 'image/icons/mobile/help-mobile.svg' %}"> Instrukcja użytkownika</a></li>
            </ul>
            <ul class="list-unstyled"><li><a href="{% url 'logout' %}"><img src="{%static 'image/icons/mobile/logout.svg' %}"> Wyloguj się</a></li></ul>
        </div>
    </nav>

    <div id="content">

        <div class="mobile-nav">
            <div><button id="sidebarCollapse" class="hamburger"><img src="{% static 'image/icons/hamburger.svg' %}"></button></div>
            <div><img style="height: 49px;" src="{% static 'image/logo.svg' %}"></div>
            <div class="avatar"><a href="{% url 'profile' %}">{% avatar user %}</a></div>
        </div>

        <nav class="navbar">
            <div class="left">
                <h1>{{month_name}} {{year}}</h1>
            </div>
            <div class="right">
                <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                  </div>
                </div>

                <select class="button-select inverse" ONCHANGE="location = this.options[this.selectedIndex].value;">
                  <option value="{% url 'month' year month day %}">MIESIĄC</option>
                  <option value="{% url 'home' year month day %}">DZIEŃ</option>
                  <option value="{% url 'week' year month day %}">TYDZIEŃ</option>



                </select>

                <button id="add-event" class="button add" type="button" name="button">DODAJ WYDARZENIE</button>
                <div class="avatar">
                    <a href="{% url 'profile' %}">{% avatar user %}</a>
                </div>
            </div>
        </nav>
        <hr>

        <div style="width: 100%;">
            <table class="month-view">
                    <tr class="week-label">
                        <th class="mon"><p>Pon</p></th>
                        <th class="tue"><p>Wt</p></th>
                        <th class="wed"><p>Śr</p></th>
                        <th class="thu"><p>Czw</p></th>
                        <th class="fri"><p>Pt</p></th>
                        <th class="sat"><p>Sob</p></th>
                        <th class="sun"><p>Nd</p></th></tr>
                {% for d, meetings_day in month_days %}
                    {% if d.0 == 0 %}
                        <td class="noday"><div class="empty-cell"></div></td>
                    {% else %}
                        <td class="day"><a href="{% url 'home' year month d.0 %}">
                            <div class="container">
                            <div class="pointer">{{d.0}}</div>
                            {% for meeting in meetings_day %}
                                <a href="{% url 'edit_meeting' meeting.id %}"><div class="month-event {{meeting.color}}"><span>{{meeting.title}}</span></div></a>
                            {% endfor %}
                        </div></a></td>
                    {% endif %}
                    {% if d.1 == 6 %}<tr>{% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="err_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nie połączono z kontem Google!</h3>
            </div>

              <div class="modal-body">
                <p class="delete-text">Żeby skorzystać z tej funkcji zaloguj się przez konto Google.</p>
              </div>

              <div class="modal-footer">
                <button type="submit" data-dismiss="modal" class="btn btn-primary">OK</button>
              </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
    $(document).ready(function() {

        $("#add-event").modalForm({
            formURL: "{% url 'add_meeting' %}"
        });

        $(".delete-event").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });

            $("#mobile-sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss').on('click', function () {
                $('#mobile-sidebar').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#mobile-sidebar').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });

        $('#importCalendar').on('click', function () {
            const fetchURL = "/calendar/import_google_calendar_data";
            fetch(fetchURL)
            .then((response) => {return response.json();})
            .then((body) => {
              console.log(body);
              if(body.msg == "success"){
                  location.reload();
              } else {
                if(body.data == "not google") {
                        $('#err_modal').modal('show');
                    }
                }
            })
        });

    </script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    {{form.media}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script><script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"></script>
{% endblock %}