{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% load avatar_tags %}

{% block headcontent %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<title>Kalendarz - vToDo</title>
{% endblock %}

{% block content %}


<div class="wrapper">
    <nav id="sidebar" class="small">
        <nav class="sidebar main">
            <a href="{% url 'vtodo' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/home-icon.svg' %}"></div></a>
            <a href="{% url 'date' %}"><div class="sidebar-btn active"><img src="{%static 'image/icons/calendar-icon.svg' %}"></div></a>
            <a href="{% url 'list' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/todolist-icon.svg' %}"></div></a>
            <a href="{% url 'location' %}"><div class="sidebar-btn"><img id="map" src="{%static 'image/icons/map.svg' %}"></div></a>
            <!--<div class="sidebar-btn"><img src="{%static 'image/icons/settings-icon.svg' %}"></div>-->
        </nav>
    </nav>
    <nav class="sidebar menu">
        <div class="header"><img src="{%static 'image/icons/todolist-dark.svg' %}"><h1>KALENDARZ</h1></div>
        <div class="calendar-module">
            <div class="calendar-header">
                <div class="prev"><a href="{% url 'home' prev_month.0 prev_month.1 prev_month.2 %}"> < </a></div>
                <div class="month-label"><p>{{month_name}} {{year}}</p></div>
                <div class="next"><a href="{% url 'home' next_month.0 next_month.1 next_month.2 %}"> > </a></div>
            </div>

            <table class="labels">
                <tr class="week-label">
                    <th class="mon"><p>Pon</p></th>
                    <th class="tue"><p>Wt</p></th>
                    <th class="wed"><p>Śr</p></th>
                    <th class="thu"><p>Czw</p></th>
                    <th class="fri"><p>Pt</p></th>
                    <th class="sat"><p>Sob</p></th>
                    <th class="sun"><p>Nd</p></th>
                </tr>
            </table>

            <table class="month">
                {% for d, classes in days %}
                    {% if d.0 == 0 %}
                        <td class="noday"></td>
                    {% else %}
                        <td class="{{ classes }}"><a href="{% url 'week' year month d.0 %}">{{d.0}}<div class="pointer"></div></a></td>
                    {% endif %}
                    {% if d.1 == 6 %}<tr>{% endif %}
                {% endfor %}
            </table>
        </div>
        <ul class="menu-buttons">
           <li class="option-dropdown"><a>Połącz z Kalendarzem Google</a></li>
        </ul>
    </nav>

    <nav id="mobile-sidebar">
        <div class="scroll">
            <div class="sidebar-header">
                <h3>vTo-Do</h3>
                <div id="dismiss"><p>X</p></div>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{% url 'vtodo' %}"><img src="{%static 'image/icons/mobile/home-icon-black.svg' %}"> Strona Główna</a>
                </li>
                <li class="active">
                    <a><img src="{%static 'image/icons/mobile/cal-icon-black.svg' %}"> Kalendarz</a>
                                </li>
                            <div class="calendar-module">
                                <div class="calendar-header">
                                    <div class="prev"><a href="{% url 'home' prev_month.0 prev_month.1 prev_month.2 %}"> < </a></div>
                                    <div class="month-label"><p>{{month_name}} {{year}}</p></div>
                                    <div class="next"><a href="{% url 'home' next_month.0 next_month.1 next_month.2 %}"> > </a></div>
                                </div>
                                <table class="labels">
                                    <tr class="week-label">
                                        <th class="mon"><p>Pon</p></th>
                                        <th class="tue"><p>Wt</p></th>
                                        <th class="wed"><p>Śr</p></th>
                                        <th class="thu"><p>Czw</p></th>
                                        <th class="fri"><p>Pt</p></th>
                                        <th class="sat"><p>Sob</p></th>
                                        <th class="sun"><p>Nd</p></th></tr>
                                </table>
                                <table class="month">
                                {% for d, classes in days %}
                                    {% if d.0 == 0 %}
                                        <td class="noday"></td>
                                    {% else %}
                                        <td class="{{ classes }}"><a href="{% url 'week' year month d.0 %}">{{d.0}}<div class="pointer"></div></a></td>
                                    {% endif %}
                                    {% if d.1 == 6 %}<tr>{% endif %}
                                {% endfor %}
                                </table>
                            </div>

                <li>
                    <a href="{% url 'list' %}"><img src="{%static 'image/icons/mobile/list-icon-black.svg' %}"> Lista zadań</a>
                <li>
                    <a href="{% url 'location' %}"><img src="{%static 'image/icons/mobile/map-icon-black.svg' %}"> Mapa</a>
                </li>
                <!--<div class="sidebar-btn"><img src="{%static 'image/icons/settings-icon.svg' %}"></div>-->
            </ul>
            <ul class="list-unstyled"><li><a href="{% url 'logout' %}"><img src="{%static 'image/icons/mobile/logout.svg' %}"> Wyloguj się</a></li></ul>
        </div>
    </nav>

    <div id="content">

        <div class="mobile-nav">
            <div><button id="sidebarCollapse" class="hamburger"><img src="{% static 'image/icons/hamburger.svg' %}"></button></div>
            <div><img style="height: 49px;" src="{% static 'image/logo.svg' %}"></div>
            <div class="avatar"><a href="{% url 'profile' %}">{% avatar user %}</a></div>
        </div>

        <nav class="navbar">
            <div class="left">
                <h1>{{week|get_months}}</h1>
            </div>
            <div class="right">
                <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                  </div>
                </div>

                <select class="button-select inverse" ONCHANGE="location = this.options[this.selectedIndex].value;">
                  <option value="{% url 'week' year month day %}">TYDZIEŃ</option>
                  <option value="{% url 'home' year month day %}">DZIEŃ</option>
                  <option value="{% url 'month' year month day %}">MIESIĄC</option>
                </select>

                <button id="add-event" class="button add" type="button" name="button">DODAJ WYDARZENIE</button>
                <div class="avatar">
                    <a href="{% url 'profile' %}">{% avatar user %}</a>
                </div>
            </div>
        </nav>
        <hr>

        <div style="display: flex; flex-direction: row;">
            <div style="width: 42px; height: 40px;"></div>
            {% for day, meetings in week %}
                <a style="width: 14%;" href="{% url 'home' day|get_year day|get_month day|get_day %}">
                    <div class="weekdays"><h3>{{day|get_day}}</h3><p>{{day|get_dayname}}</p></div>
                </a>
            {% endfor %}
        </div>

        <div class="tt-container" id="tt-scroll" style="max-height: 75vh;">
            <div>
            {% for hour, week_meetings in wtt_width %}
                <div style="display: flex;">
                <div class="hour-column"><p>{{hour}}</p></div>
                {% for day in week_meetings %}
                    {% if day %}
                    <div class="cell">
                        {% for meeting in day %}
                            {% if meeting|check_cell %}
                            <a href="{% url 'edit_meeting' meeting.0.id %}">
                            <div class="event table-event {{meeting.0.color}}"
                             style="left: {% offset meeting %}%; width: {{meeting.2}}%; height: {{meeting.1|get_meeting_span}}px;">
                            {%if meeting.1 > 2 %}
                                <div class="info">
                                    <h1 style="font-weight: 500;">{{meeting.0.title}}</h1>
                                    <p>{{meeting.0.description}}</p>
                                </div>
                                <div class="date">{{meeting.0.time_start |date:"H:i"}} - {{meeting.0.time_end |date:"H:i"}}</div>
                            {% else %}
                            <div class="small-info">
                                <h1 style="font-weight: 500;">{{meeting.0.title}}</h1>
                                <div class="date">{{meeting.0.time_start |date:"H:i"}} - {{meeting.0.time_end |date:"H:i"}}</div>
                            </div>
                            {% endif %}
                        </div>
                            </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="cell"></div>
                    {%endif%}
                {% endfor %}
                </div>
            {% endfor %}

            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
    $(document).ready(function() {

        $("#add-event").modalForm({
            formURL: "{% url 'add_meeting' %}"
        });

        $(".delete-event").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });

            $("#mobile-sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss').on('click', function () {
                $('#mobile-sidebar').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#mobile-sidebar').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            document.getElementById("tt-scroll").scrollTo(0,{{scrollPos}});

        });
    </script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    {{form.media}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script><script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"></script>
{% endblock %}