{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{form.media}}
{% load crispy_forms_tags %}
{% load avatar_tags %}
{% load poll_extras %}
{% load static %}

<html>
<head>
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}

    <title>vToDo - zadania</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vtodo-componets.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static '/js/registerSW.js' %}"></script>

    {% comment %} <script src="{% static '/js/geolocation.js' %}" type="text/javascript"></script>   {% endcomment %}
</head>
<body>
<script src="{% static '/js/site.js' %}"></script>
<div class="wrapper">
    <nav id="sidebar" class="small">
        <nav class="sidebar main">
            <div class="sidebar-btn"><img src="{%static 'image/icons/home-icon.svg' %}"></div>
            <a href="{% url 'date' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/calendar-icon.svg' %}"></div></a>
            <a href="{% url 'list' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/todolist-icon.svg' %}"></div></a>
            <a href="{% url 'location' %}"><div class="sidebar-btn active"><img id="map" src="{%static 'image/icons/map.svg' %}"></div></a>
            <div class="sidebar-btn"><img src="{%static 'image/icons/settings-icon.svg' %}"></div>
        </nav>
    </nav>

    <nav id="mobile-sidebar">
        <div class="scroll">
            <div class="sidebar-header">
                <h3>vTo-Do</h3>
                <div id="dismiss"><p>X</p></div>
            </div>
            <ul class="list-unstyled components">
                <li><a href="{% url 'vtodo' %}"><img src="{%static 'image/icons/mobile/home-icon-black.svg' %}"> Strona Główna</a></li>
                <li><a href="{% url 'date' %}"><img src="{%static 'image/icons/mobile/cal-icon-black.svg' %}"> Kalendarz</a></li>
                <li><a href="{% url 'list' %}"><img src="{%static 'image/icons/mobile/list-icon-black.svg' %}"> Lista zadań</a></li>
                <li class="active"><a href="{% url 'location' %}"><img src="{%static 'image/icons/mobile/map-icon-black.svg' %}"> Mapa</a></li>
                <li><a href="#"><img src="{%static 'image/icons/mobile/set-icon-black.svg' %}"> Ustawienia</a></li>
            </ul>
            <ul class="list-unstyled"><li><a href="{% url 'logout' %}"><img src="{%static 'image/icons/mobile/logout.svg' %}"> Wyloguj się</a></li></ul>
        </div>
    </nav>

    <div id="content-sml">
       <div class="mobile-nav">
        <div><button id="sidebarCollapse" class="hamburger"><img src="{% static 'image/icons/hamburger.svg' %}"></button></div>
        <div><img style="height: 49px;" src="{% static 'image/logo.svg' %}"></div>
        <div class="avatar"><a href="{% url 'profile' %}">{% avatar user %}</a></div>
    </div>
        <nav class="navbar">
        <div class="left">
            <h1>Lokalizacja</h1>
        </div>
        <div class="right">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>

        <!-- Create book button -->

    <div class="avatar">
        {% avatar user %}
            </a>
            </div>
        </div>
    </nav>
    <hr class="hr">

{% comment %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Distance to {{destination}} is: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ distance }} km
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}
 <form id="send-push__form">
        <h3 class="header">Send a push notification</h3>
        <p class="error"></p>
        <input type="text" name="head" placeholder="Header: Your favorite airline 😍">
        <textarea name="body" id="" cols="30" rows="10" placeholder="Body: Your flight has been cancelled 😱😱😱"></textarea>
        <button>Send Me</button>
    </form>
        <div style="width: 90%; height: 80vh; margin: auto;">

            <script>
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== "") {
                        const cookies = document.cookie.split(";");
                        for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + "=")) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                        }
                    }
                    return cookieValue;
                }
                
                var options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
                };

                function success(pos) {
                var crd = pos.coords;

                console.log(`Latitude : ${crd.latitude}`);
                console.log(`Longitude: ${crd.longitude}`);
                
                $.ajax({
                    method: 'POST',
                    url: '',
                    contentType: 'application/json; charset=utf-8',
                    data: 
                        JSON.stringify({
                            'lon': crd.longitude,
                            'lat': crd.latitude,
                        }),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    success: function (data) {   
                        
                        console.log("it worked!");
                    },
                    error: function (data) {
                        console.log("it didnt work");
                    }
                });

                }

                function error(err) {
                console.warn(`ERROR(${err.code}): ${err.message}`);
                }

                const watchPosition = navigator.geolocation.getCurrentPosition(success, error, options);

                

            </script>
            {{map | safe}}
</div>
{% comment %} <form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form | crispy}}
    <button type="submit" class="btn btn-primary"> confirm </button>
</form> {% endcomment %}

{% comment %} {% if request.POST and distance is not None %}
    <script>
        $(window).on('load',function(){
            $('#exampleModal').modal('show')
        })
    </script>
{% endif %} {% endcomment %}

    </div>


</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#mobile-sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss').on('click', function () {
                $('#mobile-sidebar').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#mobile-sidebar').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script><script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

</body>
</html>
