{% extends 'base.html' %}
{% load avatar_tags %}
{% load poll_extras %}
{% load static %}

{% block headcontent %}
    <title>Lokalizacja - vToDo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vtodo-componets.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar" class="small">
        <nav class="sidebar main">
            <a href="{% url 'vtodo' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/home-icon.svg' %}"></div></a>
            <a href="{% url 'date' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/calendar-icon.svg' %}"></div></a>
            <a href="{% url 'list' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/todolist-icon.svg' %}"></div></a>
            <a href="{% url 'location' %}"><div class="sidebar-btn active"><img id="map" src="{%static 'image/icons/map.svg' %}"></div></a>
            <a href="{% url 'user_manual' %}"><div class="sidebar-btn help"><img src="{%static 'image/icons/help.svg' %}"></div></a>
        </nav>
    </nav>

    <nav id="mobile-sidebar">
        <div class="scroll">
            <div class="sidebar-header">
                <h3>vTo-Do</h3>
                <div id="dismiss"><p>X</p></div>
            </div>
            <ul class="list-unstyled components">
                <li><a href="{% url 'vtodo' %}"><img src="{%static 'image/icons/mobile/home-icon-black.svg' %}"> Strona Główna</a></li>
                <li><a href="{% url 'date' %}"><img src="{%static 'image/icons/mobile/cal-icon-black.svg' %}"> Kalendarz</a></li>
                <li><a href="{% url 'list' %}"><img src="{%static 'image/icons/mobile/list-icon-black.svg' %}"> Lista zadań</a></li>
                <li class="active"><a href="{% url 'location' %}"><img src="{%static 'image/icons/mobile/map-icon-black.svg' %}"> Mapa</a></li>
                <li><a href="{% url 'user_manual' %}"><img src="{%static 'image/icons/mobile/help-mobile.svg' %}"> Instrukcja użytkownika</a></li>
            </ul>
            <ul class="list-unstyled"><li><a href="{% url 'logout' %}"><img src="{%static 'image/icons/mobile/logout.svg' %}"> Wyloguj się</a></li></ul>
        </div>
    </nav>

    <div id="content-sml">
       <div class="mobile-nav">
        <div><button id="sidebarCollapse" class="hamburger"><img src="{% static 'image/icons/hamburger.svg' %}"></button></div>
        <div><img style="height: 49px;" src="{% static 'image/logo.svg' %}"></div>
        <div class="avatar"><a href="{% url 'profile' %}">{% avatar user %}</a></div>
    </div>
        <nav class="navbar">
        <div class="left">
            <h1>Lokalizacja</h1>
            <img id="warning-info" src="{% static 'image/icons/nogps-icon.svg' %}">
        </div>
        <div class="right">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>

        <!-- Create book button -->

    <div class="avatar">

         <a href="{% url 'profile' %}">{% avatar user %}</a>
            </div>
        </div>
    </nav>
    <hr class="hr">
        <div class="searchbar">
            <input type="search" id="search-input" class="form-control"/>
          <button type="button" id="search-button" class="button add search">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div id="map-div" style="width: 85vw; height: 78vh; margin: auto;"></div>
    </div>


</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mobile-sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss').on('click', function () {
                $('#mobile-sidebar').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#mobile-sidebar').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <script>


        var user_location;
        var map;
        var task_markers = [];
        var event_markers = [];
        var tasks;
        var events;

        function load_tasks() {
            tasks = {{tasks_data | safe}};
            for (const task of tasks) {
                var marker = L.marker([task[1], task[2]]).bindPopup($(task[3])[0]).addTo(map);
                marker._icon.style.filter = task[4];
                task_markers.push(marker);
            }
        };

        function load_events() {
            events = {{event_data | safe }};
            for (const event of events) {
                var marker = L.marker([event[1], event[2]]).bindPopup($(event[3])[0]).addTo(map);
                marker._icon.style.filter = "hue-rotate(50deg)";
                event_markers.push(marker);
            }
        };

        document.getElementById("search-button").onclick = search;
        function search(){
            var data = document.getElementById("search-input");
            for (var i=0; i < tasks.length; ++i ){
                var markerID = tasks[i][5];
                if (markerID == data.value){
                    task_markers[i].openPopup()
                    map.flyTo([tasks[i][1], tasks[i][2]],16);
                }
            }
            for (var i=0; i < events.length; ++i ){
                var markerID = events[i][4];
                if (markerID == data.value){
                    event_markers[i].openPopup()
                    map.flyTo([event[i][1], event[i][2]],16);
                }
            }
        };

        function zoomIn() {
            {% if marker_id %}
            var mi = {{marker_id}};
            console.log(mi);
            if(mi) {
                for (var i=0; i < tasks.length; ++i ){
                    var markerID = tasks[i][0];
                    if (markerID == mi) {
                        task_markers[i].openPopup()
                        map.flyTo([tasks[i][1], tasks[i][2]],16);
                    }
                }

                for (var i=0; i < events.length; ++i ){
                    var markerID = events[i][0];
                    if (markerID == mi) {
                        event_markers[i].openPopup()
                        map.flyTo([event[i][1], event[i][2]],16);
                    }
                }
            }
            {% endif %}
        }

        function update_position(latitude, longitude) {
            if (!user_location) {
                user_location = L.marker([latitude,longitude]).bindTooltip("Tu jesteś").addTo(map);
            }
            user_location.setLatLng([latitude,longitude]).update();
        };

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
            document.getElementById("warning-info").style.display = "block";
            if (!map) {

                map = L.map('map-div').setView([52.29541804778165, 19.4519922035855], 6);
                var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                });

                tileLayer.addTo(map);
                load_tasks();
                load_events();
                zoomIn();
            }
        }

        function success(pos) {
            var crd = pos.coords;
            if (!map) {
                if(!crd) {
                    map = L.map('map-div').setView([0, 0], 13);
                }
                else {
                    console.log(crd.latitude, crd.longitude);
                    map = L.map('map-div').setView([crd.latitude, crd.longitude], 13);
                }


                var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                });

                tileLayer.addTo(map);
                load_tasks();
                load_events();
                zoomIn();
            }
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            update_position(crd.latitude, crd.longitude)

        };
        const watchPosition = navigator.geolocation.watchPosition(success, error, options);



    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

{% endblock %}