{% load bootstrap4 %}
{% load crispy_forms_tags %}
{{form.media}}
{%load static%}

<form method="post" action="">
      {% csrf_token %}
     <div class="modal-header">
        <h5 class="modal-title">Dodaj zadanie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body">
        {% for field in form %}
          <div class="form-group{% if field.errors %} invalid{% endif %}">

            {{ field | as_crispy_field }}
            {% for error in field.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Dodaj</button>
      </div>

    </form>
<script>

    $(document).ready( function(e) {
            const fetchURL = "/retrieve_google_contacts";
            fetch(fetchURL)
                  .then((response) => {return response.json();})
                  .then((body) => {
                    console.log(body);
                    if(body.msg == 'success') {
                        var selector = document.getElementsByName('with_who')[0];
                        for(let contact of body.data){
                            var opt = document.createElement('option');
                            var i = contact.name;
                            opt.value = i;
                            opt.innerHTML = i;
                            selector.appendChild(opt);
                        }
                    }
                    });
            $('.js-example-basic-multiple').select2({tags: true});
    });
</script>