{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%load static%}


    {% block headcontent %}
    <title>vToDo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}


     {% block content %}
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
    </div>
  </div>
</div>
<nav id="navbar" class="navbar"><img alt="logo" src="{% static 'image/orange.svg' %}">
    {%if user.is_anonymous %}
        <button id="login-btn" class="button inverse">ZALOGUJ SIĘ</button></nav>
    {%else%}
        <a href="{%url 'logout'%}"><button id="logout-btn" class="button inverse">WYLOGUJ SIĘ</button></a></nav>
    {%endif%}
<div class="banner" style="background-image: url('{% static 'image/backgr.jpg'%}');">
    <div class="overlay">
    <h1> Dołącz do vTo-Do</h1>
    <p>Zacznij lepiej zarządzać swoim czasem <br> Wypróbuj naszą aplikację już dziś!</p>
    {%if user.is_anonymous %}
        <button id="signup-btn" class="button add">ROZPOCZNIJ</button>
    {%else%}
        <a href="{% url 'vtodo' %}"><button id="continue" class="button add">PRZEJDŹ DO vTO-DO</button></a>
            {%endif%}
        </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog mt-5" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="cards">
    <div class="card">
        <img alt="clock" src="{% static 'image/icons/clock.svg' %}">
        <h1>SZYBKO</h1>
    </div>

    <div class="card">
        <img alt="couch" src="{% static 'image/icons/couch.svg' %}">
        <h1>WYGODNIE</h1>
    </div>

    <div class="card">
        <img alt="dollar" src="{% static 'image/icons/dolar.svg' %}">
        <h1>ZA DARMO</h1>
    </div>
</div>

<div class="bar orange"></div>
<div class="bar add marginbar"></div>
<div class="bar navy"></div>

<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    document.getElementById("navbar").style.background = "rgba(255,255,255,0.7)";
  } else {
    document.getElementById("navbar").style.background = "rgba(255,255,255,1)";
  }
}
</script>
<script type="text/javascript">

    $(document).ready(function() {
          $("#login-btn").modalForm({
            formURL: "{% url 'login' %}",
            errorClass: '.is-invalid',
          });

          $("#signup-btn").modalForm({
            formURL: "{% url 'register' %}",
            errorClass: '.is-invalid',
          });
          });
</script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
 {% endblock %}