{% load static %}
<html>
<head>
    <title>vToDo - zadania</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vtodo-css.css' %}"/>
</head>
<body>
    <div class="bar">
        <button class="hamburger" onclick="openMenu()"><img src="{% static 'image/icons/hamburger.svg' %}"></button>
        <h1 class="text">WSZYSTKIE</h1>
        <img class="avatar" src="{% static 'image/avatar-test.png' %}" alt="avatar">
    </div>
    <div class="menu" id="menu"> 
        <div class="main-menu">
            <div class="main-menu-btn" id="home">
                <a href=#><div class="mn-btn"><img src="{% static 'image/icons/home-icon.svg' %}" alt="STRONA GŁÓWNA"></div></a>
            </div>
            <div class="main-menu-btn">
                <a href="{% url 'home_empty' %}"><div class="mn-btn"><img src="{% static 'image/icons/calendar-icon.svg' %}" alt="KALENDARZ"><h1>KALENDARZ</h1></div></a>
                <ul class="option-dropdown-menu">
                    <li class="header">KALENDARZ</li>
                    <li class="option-dropdown">
                        <div class="mini-calendar-module"><span>Mini Kalendarz</span></div>
                    </li>
                    <li class="option-dropdown"><span><img width="25px" src="{% static 'image/avatar-test.png' %}"> Połącz z Kalendarzem Google</span></li>
                </ul>
            </div>
            <div class="main-menu-btn" id="active">
                <a href="{% url 'test' %}"><div class="mn-btn"><img src="{% static 'image/icons/todolist-icon.svg' %}" alt="LISTA ZADAŃ"><h1>LISTA ZADAŃ</h1></div></a>

                <ul class="option-dropdown-menu" id="active-option">
                    <li class="header">LISTA TO-DO</li>
                    <li class="option-dropdown" id="active-btn"><a href=#>Wszystkie</a></li>
                    <li class="option-dropdown"><a href=#>Lokalizacje</a>
                        <ul class="category-dropdown">
                            <li class="cat-drop-btn"><a href=#>MS TEAMS</a></li>
                        </ul>
                    </li>
                    <li class="option-dropdown"><a>Postęp</a>
                        <ul class="category-dropdown">
                            <li class="cat-drop-btn"><a>Do zrobienia</a></li>
                            <li class="cat-drop-btn"><a>W trakcie</a></li>
                            <li class="cat-drop-btn"><a>Zrobione</a></li>
                        </ul>
                    </li>
                    <li class="option-dropdown"><a>Dodaj kategorię</a></li>
                </ul>
            </div>
            <div class="main-menu-btn">
                <a href=#><div class="mn-btn"><img src="{% static 'image/icons/settings-icon.svg' %}" alt="USTAWIENIA"><h1>USTAWIENIA</h1></div></a>
                <ul class="option-dropdown-menu">
                    <li class="header">USTAWIENIA</li>
                    <li class="option-dropdown"><span>Profil</span></li>
                    <li class="option-dropdown"><span>Zmiana hasła</span></li>
                    <li class="option-dropdown"><span>Język i region</span></li>
                    <li class="option-dropdown"><span>Inne</span>
                        <ul class="category-dropdown">
                            <li class="cat-drop-btn"><span>Dunno</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <script>
            
        window.onresize = function(){
            var x = document.getElementById("menu");
            
            if(window.innerWidth >= 900) x.style.display='';
        }
            

        function openMenu() {
          var x = document.getElementById("menu");
          if (x.style.display == "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";  
          }
        }

        </script>
    
    <div class="container">
        <div class="add-task"><a href="{% url 'list' %}">DODAJ ZADANIE</a></div>
        <div class="search-task"><input type="text"></div>
        <div class="sort-task"><input type="text"></div>
    </div>

    <div class="tasks-container">
        {% for task in tasks %}
            <div class="task" id="undone-def">
                <div class="header">
                    <div id="checkbox-box">
                      {% if task.complete %}
                         <input id="checkbox" type="checkbox" checked="checked">
                     {% else %}
                        <input id="checkbox" type="checkbox">
                      {% endif %}
                    </div>
                   <div id="divider-gradient"></div>
                </div>
                <div class="task-content">
                   <div id="textholder">
                        <h1 id="task-title">{{task}}</h1>
                        <p id="task-info"> {{task.date |timeuntil }} ∙ {{task.localization}} ∙ {{task.with_who}}</p>

                    </div>
                    <div id="priority">
                        {% if task.priority == "H" %}
                            <img src="{%static 'image/icons/fire_H.svg'%}" width="25" height="25">
                        {% elif task.priority == "M" %}
                            <img src="{%static 'image/icons/fire_M.svg'%}" width="20" height="20">
                        {% else %}
                            <img src="{%static 'image/icons/fire_L.svg'%}" width="15" height="15">
                        {% endif %}
                    </div>
                {% if task.complete == True %}
                    <div class="overlay"></div>
                {% endif %}
                </div>

                <div id="date-holder">

                        <div id="divider-gradient"></div>
                        <a class="edit-task" href="{% url 'update_task' task.id %}">EDYTUJ</a>
                    </div>


        </div>

            {% endfor %}

    </div>

    

</body>
</html>
