{% load bootstrap4 %}
{% load crispy_forms_tags %}
{{form.media}}
{%load static%}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Edytuj zadanie</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group">
        {{ field | as_crispy_field }}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
  </div>

  <script>
    $(document).ready( function(e) {
            const fetchURL = "/retrieve_google_contacts";
            fetch(fetchURL)
                  .then((response) => {return response.json();})
                  .then((body) => {
                    console.log(body);
                    const words = "{{ object.with_who }}".split("|");
                    console.log("{{ object.with_who }}")
                    console.log(words)

                    var selector = document.getElementsByName('with_who')[0];
                    var arr = [];
                    if(body.msg == 'success') {
                        for(let contact of body.data){
                            var opt = document.createElement('option');
                            var i = contact.name;
                            opt.value = i;
                            opt.innerHTML = i;
                            selector.appendChild(opt);
                            arr.push(i);
                        }
                    }
                    for(let word of words) {
                        if(arr.includes(word)) {
                          continue;
                        }
                        var opt = document.createElement('option');
                        var i = word;
                        opt.value = i;
                        opt.innerHTML = i;
                        selector.appendChild(opt);
                    }
                    $('.js-example-basic-multiple').val(words).change()

                    });
            $('.js-example-basic-multiple').select2({
                  tags: true,
                  language: {
                      noResults: function (params) {
                        return "Nie znaleziono kontaktów.";
                      }
                    }
                  });

    });
  </script>

</form>