{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{form.media}}
{% load avatar_tags %}
{% load poll_extras %}
{%load static%}



<html>
<head>
    <title>vToDo - zadania</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vtodo-componets.css' %}"/>
</head>
<body>
<div class="wrapper">
<nav id="sidebar small">
<nav class="sidebar main">
    <div class="sidebar-btn active"><img src="{%static 'image/icons/home-icon.svg' %}"></div>
    <a href="{% url 'date' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/calendar-icon.svg' %}"></div></a>
    <a href="{% url 'list' %}"><div class="sidebar-btn"><img src="{%static 'image/icons/todolist-icon.svg' %}"></div></a>
    <a href="{% url 'location' %}"><div class="sidebar-btn"><img id="map" src="{%static 'image/icons/map.svg' %}"></div></a>
    <div class="sidebar-btn"><img src="{%static 'image/icons/settings-icon.svg' %}"></div>
</nav>
</nav>
<div id="content-sml">
               <button class="hamburger">MENU</button>
        <nav class="navbar">
        <div class="left">

        <img style="height: 60px;" src="{% static 'image/orange.svg' %}">
        </div>
        <div class="right">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>

        <!-- Create book button -->
            <h4 style="margin: 20px 0;"> Hej, <b>{{user.username}}</b>!</h4>
    <div class="avatar">
        <a href="{% url 'profile' %}">
            {% avatar user %}
            </a>
            </div>
        </div>
    </nav>
    <hr class="hr">

    <div class="panel-container">
        <p>Trzeba coś wymyślić</p>
        <p>jakieś statystyki?</p>
        <p>przekazanie dzisiejszych eventów</p>
        <p>czy cu</p>
        </div>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

</body>
</html>
