{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

<form method="post" action="">
  {% csrf_token %}

        <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="{% static 'css/vtodo-componets.css' %}">

     <div class="modal-header">
        <h5 class="modal-title">Zmiana hasła</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {% for field in form %}
          <div class="form-group{% if field.errors %} invalid{% endif %} {% if field.id_for_label == id_date_start %} date {%endif%}">

              {% if field.name == 'old_password' %}

                  {{ field.label }}*
                  <div class="input-group mb-3 {% if field.errors%} is-invalid{% endif %}">
                    <input type="password" name="password1" class="form-control {% if field.errors%} is-invalid{% endif %}" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <a class="input-group-text" id="basic-addon2"><i class="bi bi-eye-slash" id="togglePassword"></i></a>
                    </div>
                  </div>

                              {% for error in field.errors %}
              <p class="invalid-feedback"><strong>{{error}}</strong></p>
                {% endfor %}

              {% elif field.name == 'new_password1' %}

                  {{ field.label }}*
                  <div class="input-group mb-3 {% if field.errors%} is-invalid{% endif %}">
                    <input type="password" name="password2" class="form-control {% if field.errors%} is-invalid{% endif %}" aria-describedby="basic-addon22">
                    <div class="input-group-append">
                      <a class="input-group-text" id="basic-addon22"><i class="bi bi-eye-slash" id="toggleNewPassword"></i></a>
                    </div>
                  </div>

                              {% for error in field.errors %}
              <p class="invalid-feedback"><strong>{{error}}</strong></p>
                {% endfor %}

              {% elif field.name == 'new_password2' %}

                  {{ field.label }}*
                  <div class="input-group mb-3 {% if field.errors%} is-invalid{% endif %}">
                    <input type="password" name="password3" class="form-control {% if field.errors%} is-invalid{% endif %}" aria-describedby="basic-addon222">
                    <div class="input-group-append">
                      <a class="input-group-text" id="basic-addon222"><i class="bi bi-eye-slash" id="toggleRepeatPassword"></i></a>
                    </div>
                  </div>

                              {% for error in field.errors %}
              <p class="invalid-feedback"><strong>{{error}}</strong></p>
                {% endfor %}

              {% endif %}

          </div>
        {% endfor %}
      </div>

      <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Zmień</button>
      </div>

    </form>

 <script>

        document.querySelector('#togglePassword').addEventListener('click', () => {
            const type = document.querySelector('[name="password1"]')
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            document.querySelector('[name="password1"]').setAttribute('type', type);
            document.querySelector('#togglePassword').classList.toggle('bi-eye');
        });

        document.querySelector('#toggleNewPassword').addEventListener('click', () => {
            const type2 = document.querySelector('[name="password2"]')
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            document.querySelector('[name="password2"]').setAttribute('type', type2);
            document.querySelector('#toggleNewPassword').classList.toggle('bi-eye');
        });

        document.querySelector('#toggleRepeatPassword').addEventListener('click', () => {
            const type3 = document.querySelector('[name="password3"]')
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            document.querySelector('[name="password3"]').setAttribute('type', type3);
            document.querySelector('#toggleRepeatPassword').classList.toggle('bi-eye');
        });
    </script>

