
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

{% load socialaccount %}
    <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="{% static 'css/vtodo-componets.css' %}">

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Logowanie</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

    {% for field in form %}
          <div class="form-group{% if field.errors %} is-invalid{% endif %}" id="{% if field.name == 'password' %} pwd {% endif %}">

              {% if field.name == 'password' %}
              {{ field.label }}*
              <div class="input-group mb-3">
                <input type="password" id="password" class="form-control" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <a class="input-group-text" id="basic-addon2"><i class="bi bi-eye-slash" id="togglePassword"></i></a>
                </div>
              </div>
              {% else %}
                {{ field | as_crispy_field }}
              {% endif %}
          </div>
    {% endfor %}

    <div class="{% if form.non_field_errors %}is-invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

  </div>
        <p class="linetext"><span>lub</span></p>
  <div class="googlebutton">
    <a class="button google" href="{% provider_login_url 'google' %}"><img src="{% static 'image/icons/google-icon.svg' %}"> Zaloguj się przez Google</a>
  </div>
  <div class="modal-footer">
    <button type="submit" class="button add" formnovalidate="formnovalidate">Zaloguj</button>
  </div>

</form>

 <script>

        document.querySelector('#togglePassword').addEventListener('click', () => {
            const type = document.querySelector('#password')
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            document.querySelector('#password').setAttribute('type', type);
            document.querySelector('#togglePassword').classList.toggle('bi-eye');
        });
    </script>
