
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Logowanie</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

    {% for field in form %}
          <div class="form-group{% if field.errors %} is-invalid{% endif %}">
              {{ field | as_crispy_field }}
          </div>
    {% endfor %}

    <div class="{% if form.non_field_errors %}is-invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="button add" formnovalidate="formnovalidate">Zaloguj</button>
  </div>

</form>
