
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Rejestracja</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    {% for field in form %}
          <div id="onChange" id="{% if field.name == 'username' %} username_field {% endif %}" class="form-group{% if field.errors%} is-invalid{% endif %}">
              {{ field | as_crispy_field }}
              {% if field.name == 'username' %} <label id="usr_lbl" style="display: none;" class="invalid-feedback">Istnieje już użytkownik o takiej nazwie!</label> {% endif %}
          </div>
    {% endfor %}


  </div>

  <div class="modal-footer">

    <button type="submit" class="button add" formnovalidate="formnovalidate">Zarejestruj</button>
  </div>
</form>
          <script>
              $("#onChange").on("change", function(e) {
                if(e.target.name == 'username'){
                  const username = e.target.value;
                  var usr = e.target

                  const fetchURL = "/check_username/" + `${username}`;
                  fetch(fetchURL)
                  .then((response) => {return response.json();})
                  .then((body) => {
                    console.log(body);
                    if(body.message == 'error') {
                        usr.classList.add("is-invalid");
                        document.getElementById("usr_lbl").style.display = "block";
                        }
                    else {
                        usr.classList.remove("is-invalid");
                        document.getElementById("usr_lbl").style.display = "None";
                    }
                    });


                }
              });
          </script>