{% load static %}
{% load bootstrap4 %}
{% load pwa %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
    {% progressive_web_app_meta %}
    <link rel="canonical" href="https://v-todo.com"/>
    <meta charset="UTF-8">
    <meta name="description" content="Aplikacja do tworzenia specjalizowanej listy todo wraz z kalendarzem">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vtodo-componets.css' %}"/>
    {% block headcontent %}
    {% endblock %}

</head>
<body>
            {% block content %}
            {% endblock %}
</body>
</html>